<div class="main top-main">
  <div class="top-message">
    <h1>What I should do today?</h1>
    <p>日々の予定を記録し、より効率的で快適な生活を</p>
  </div>

  <% form_tag("/line_login",{multipart: true}) do%>
  <div class="line_user">ユーザーの写真</div>
  <img src="<%=@response[0]["picture"]%>" height="100" width="100">

  <div class="line_user">ユーザー名</div>
  <div>
    <input name="name" value="<%=@response[0]["name"]%>">
  </div>

  <div class="line_user">ユーザーパスワード</div>
  <div>
    <input type="password" name="password">
  </div>
  <div>
    ※必ずパスワードを登録してください。
    ※パスワードは忘れず保管してください。
  </div>
  <%end%>

  <% if @user%>
  <div class="start-btn">
    <%= link_to("今日のto-do-listを見に行く","/line_login",method:"post",class:"top-link") %>
  </div>
  <div class="click-message">
    ↑　↑　↑　↑　クリックしてスタート　↑　↑　↑　↑
  </div>
  <%else%>
  <div class="start-btn">
    <%= link_to("ユーザー情報を登録","/line_login",method:"post",class:"top-link") %>
  </div>

  <div class="click-message">
    ↑　↑　↑　↑　クリックして登録　↑　↑　↑　↑
  </div>
  <%end%>

</div>
