<div class="main top-main">
  <div class="top-message">
    <h1>What I should do today?</h1>
    <p>日々の予定を記録し、より効率的で快適な生活を</p>
  </div>

  <div class="start-btn">
    <%= link_to("今日のto-do-listを見に行く","/home/index",class:"top-link") %>
  </div>

  <div class="click-message">
    ↑　↑　↑　↑　クリックしてスタート　↑　↑　↑　↑
  </div>

  
</div>
