<div class="main top-main">
  <div class="top-message">
    <h1>What I should do today?</h1>
    <p>日々の予定を記録し、より効率的で快適な生活を</p>
  </div>

  <img name="picture" src="<%=@response[0]["picture"]%>" height="100" width="100">

  <div name="name">
    <%=@response[0]["name"]%>
  </div>

  <% if @user%>
  <div class="start-btn">
    <%= link_to("今日のto-do-listを見に行く","/line_login?code=#{params[:code]}&state=#{params[:state]}",method:"post",class:"top-link") %>
  </div>

  <div class="click-message">
    ↑　↑　↑　↑　クリックしてスタート　↑　↑　↑　↑
  </div>
  <%else%>
  <div class="start-btn">
    <%= link_to("ユーザー情報を登録","/line_login?code=#{params[:code]}&state=#{params[:state]",method:"post",class:"top-link") %>
  </div>

  <div class="click-message">
    ↑　↑　↑　↑　クリックして登録　↑　↑　↑　↑
  </div>
  <%end%>

</div>
