<div class="main top-main">

  <div class="top-message">
    <h1>Search your deta!</h1>
    <p>ユーザー名、パスワードを入力してください。</p>
  </div>

  <!-ユーザー確認フォーム->
  <%= form_tag("/normal_login_check") do%>
  <div class="user-name">ユーザー名</div>
  <div>
    <input name="name">
  </div>

  <div class="user-password">ユーザーパスワード</div>
  <div>
    <input type="password" name="password">
  </div>

  <div class="login-submit">
    <input type="submit" value="To_Do_Appを始める">
  </div>
  <%end%>

  <div class="click-message">
    　↑　クリック　↑　
  </div>


</div>
