<div class="main top-main">
  <div class="top-message">
    <h1>Sign your deta!</h1>
    <p>ユーザー情報を確認し、パスワードを設定してください。</p>
  </div>

  <%= form_tag("/normal_signup") do%>
  <div class="user-name">ユーザー名</div>
  <div>
    <input name="name">
  </div>

  <div class="user-password">ユーザーパスワード</div>
  <div>
    <input type="password" name="password">
  </div>
  <div class="pass-alert">
    ※必ずパスワードを登録してください。
    ※パスワードは忘れず保管してください。
  </div>

  <div class="login-submit">
    <input type="submit" value="ユーザー情報を登録">
  </div>
  <%end%>

  <div class="click-message">
    ↑クリックして登録↑
  </div>


</div>
