<div class="main top-main">

  <div class="top-message">
    <h1>which would you like?</h1>
    <p>登録のタイプを選んでください。</p>
  </div>

  <div>新規にアカウントを作成する場合はこちら↓</div>
  <div class="normal-signup">
    <%=link_to("Normal","/normal_signup",class:"normal-signup-btn")%>
  </div>

  <div>LINEアカウントを利用する場合はこちら↓</div>
  <div class="line-signup">
    <%=link_to("LINE",ENV["LINElogin_URL"],class:"line-signup-btn")%>
  </div>

  <div><font color="red">LINEアカウントを利用して登録すると、To-Do-App公式アカウントとのチャット機能を利用できます。</font></div>
</div>
