<div class="main top-main">
  <div class="top-message">
    <h1>which would you like?</h1>
    <p>登録のタイプを選んでください。</p>
  </div>
  <div class="normal-login">
    <%=link_to("Normal","/normal")%>
  </div>
  <div class="line-login">
    <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1654987275&redirect_uri=https://infinite-fjord-36648.herokuapp.com/auth&state=sawarahead3050&bot_prompt=normal&scope=profile%20openid&nonce=89913050tm"><img src="btn_login_base.png"></img></a>
  </div>
</div>
