body{
  background-color:#ffffee;
}

.main{
  padding-top:80px;
}

/*ヘッダー*/
header{
  height:80px;
  position:absolute;
  z-index:100;
  width:100%;
  background-color:green;
}

.header-logo{
  float:left;
  padding-left:20px;
  font-size:40px;
  line-height:80px;
}

.header-menus{
  margin-top:0;
  float:right;
  font-size:30px;
  line-height:80px;
}

.header-menus li{
  float:left;
  padding-right:20px;

}

.header-link{
  text-decoration: none;
  color: white;
}

/*トップページ*/
.top-main{
  text-align:center;
  padding:150px 0 100px 0;
  height:800px;
  background-size:cover;
  background-image: url("/N749_sugasugasiiaozora.jpg");
}

.top-message{
  width:100%;
}

.top-main h1{
  font-size:80px;
  color:navy;
  letter-spacing:1px;
}

.top-main p{
  font-size:40px;
}

.start-btn {
  padding:0 20px;
  width:30%;
  margin:0 auto;
  border:1px solid maroon;
  font-size:30px;
}

.click-message{
  font-weight: bold;
}

.top-link{
  text-decoration: none;
  color:maroon;
}
